* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

#progressbar {
    width: 80%;
    height: 3%;
    border-radius: 15px;
}

.ui-progressbar {
    position: relative;
    left: 10%;
    top: 45%;
}

.progress-label {
    position: absolute;
    left: 50%;
    top: 2px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.ui-widget-header {
    background-color: #71B1D8;
    border-radius: 15px;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container {
    margin-top: 0;
    margin-bottom: 0;
}

.con1 {
    width: 100%;
    height: 100%;
    background: url("../images/bg1.png") 0 0 no-repeat;
    background-size: 100% 100%;
}

#con1-img1 {
    width: 80%;
    position: absolute;
    left: 5%;
    top: 15%;
}

#con1-img2 {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 70%;
}

#con1-p {
    font-size: 0.9em;
    color: #868686;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: 40%;
}

.fixed {
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 111;
}

#fixedImg {
    width: 100%;
}

.con2 {
    width: 100%;
    height: 100%;
    background: url("../images/bg2.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
}

#con2-img1 {
    width: 80%;
    position: absolute;
    top: 13%;
    left: 0%;
}

#con2-img2 {
    width: 80%;
    position: absolute;
    right: 0%;
    top: 65%;
}

p {
    font-size: 0.9em;
    color: #868686;
    position: absolute;
    left: 1%;
    top: 35%;
    text-align: left;
}

p strong {
    color: #A26334;
    font-size: 1.5em;
}

.con3 {
    width: 100%;
    height: 100%;
    background: url("../images/bg3.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
}

#con3-img1 {
    width: 80%;
    position: absolute;
    right: 0;
    top: 9%;
}

#con3-img2 {
    width: 50%;
    position: absolute;
    left: 2%;
    bottom: 3%;
}

#con3-p {
    text-align: right;
    position: absolute;
    right: 0;
    top: 30%;
}

.con4 {
    width: 100%;
    height: 100%;
    background: url("../images/bg4.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
}

#con4-img1 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 8%;
}

#con4-img2 {
    width: 40%;
    position: absolute;
    left: 8%;
    top: 63%;
}

#con4-img3 {
    width: 40%;
    position: absolute;
    right: 6%;
    top: 78%;
}

#con4-p {
    position: absolute;
    left: 3%;
    top: 30%;
}

.con5 {
    width: 100%;
    height: 100%;
    background: url("../images/bg5.png") 0 0 no-repeat;
    background-size: 100% 100%;
}

#con5-img1 {
    width: 90%;
    position: absolute;
    left: 5%;
    top: 15%;
}

#con5-img2 {
    width: 50%;
    position: absolute;
    right: 0%;
    top: 35%;
}

#con5-img3 {
    width: 100%;
    position: absolute;
    left: 3%;
    top: 65%;
}
